
* {
    text-align: center;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-direction: column;
    width: 300px;
}

label {
    padding-top: 10px;
}

a {
    text-decoration: none;
    padding: 2px 2px;
    -moz-appearance: button;
    -webkit-appearance: button;
}