<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создание студента</title>
    <link th:href="@{/css/create.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/>
</head>
<body>
<p th:if="${ERROR!= null}">
<p class="errorMessage" th:each="error: ${ERROR}"
   th:text="${error.getArguments()+' '+error.getDefaultMessage()}"></p>
</p>
<div class = 'box'>
    <form method="post">
        <h2>Анкета</h2>
        <fieldset>
            <legend>Персональная информация</legend>
        </fieldset>
        <div>
            <label>Имя</label>
            <input type = 'text' name = 'firstName' placeholder = 'Введите свое имя' required = ''/>
        </div>
        <div>
            <label>Фамилия</label>
            <input type = 'text' name = 'lastName' placeholder = 'Введите свою фамилию' required = ''/>
        </div>
        <div>
            <label>Группа</label>
            <input type = 'text' name = 'group' placeholder = 'Введите номер группы' required = ''/>
        </div>
        <fieldset>
            <legend>Контакты</legend>
        </fieldset>
        <div>
            <label>Телефонный номер</label>
            <input type = 'text' name = 'phoneNumber' placeholder = 'Введите номер телефона' required = ''/>
        </div>
        <div>
            <label>Почта</label>
            <input type = 'text' name = 'email' placeholder = 'Введите почту' required = ''/>
        </div>
        <button>Отправить</button>
    </form>
</div>


<style>
    .errorMessage {
        color: red;
    }
</style>
</body>
</html>