<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Данные о студенте</title>
    <link th:href="@{/css/create.css}" rel="stylesheet">
</head>
<body>
<div class='box'>
    <form method="get">
        <fieldset>
            <legend>Студент</legend>
        </fieldset>
        <div>
            <label>ID:<span th:text="${students.getStudentId()}"></span></label>
        </div>
        <div>
            <label>Name:<span th:text="${students.getFirstName()}"></span></label>
        </div>
        <div>
            <label>LastName:<span th:text="${students.getLastName()}"></span></label>
        </div>
        <div>
            <label>Progress:<span th:text="${students.getProgress()}"></span></label>
        </div>
        <div>
            <label>Group:<span th:text="${students.getGroup().getId()}"></span></label>
        </div>
        <div>
            <label>Phone:<span th:text="${students.getPhoneNumber()}"></span></label>
        </div>
        <div>
            <label>Email:<span th:text="${students.getEmail()}"></span></label>
        </div>
    </form>
    <div>
        <a href="/client/"><button>К списку студентов</button></a>
    </div>
    <a href="/client/group">
        <button>К списку групп</button>
    </a>
</div>
</body>
</html>