<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Проверка заданий</title>
    <link th:href="@{/css/cssStyles.css}" rel="stylesheet">
</head>
<body>
<div class="teacherIndex">
<h2>Проверка заданий</h2>

<div th:if="${tasksPage.getTotal() > 0}">
    <div>
        <form method="get">
            Поиск сданной работы:
            <input name="id" type="number"/>
            <button>Найти</button>
        </form>
    </div>
    <div>
        <form>
            <p>Всего выполнено заданий <span th:text="${tasksPage.getTotal()}"/></p>
            <br>
            <p>Страница <span th:text="${tasksPage.getPage()+1}"/> из <span
                    th:text="${tasksPage.getTotalPages()}"/>
            </p>
            <p>
                Страница: <input name="page" type="number" th:value="${tasksPage.getPage()+1}" min="1"
                                 th:attr="max=${tasksPage.getTotalPages()}"/>
            </p>
            <p>
                <a th:if="${tasksPage.getPage() > 0}"
                   th:href="@{/teacher/(page=${tasksPage.getPage()}, perPage=${tasksPage.getPerPage()}, searchBy=${sortByField.getField()}, direct=${isAscending})}">&larr;
                    Предыдущая страница</a>
                <a th:if="${tasksPage.getPage()+1 < tasksPage.getTotalPages()}"
                   th:href="@{/teacher/(page=${tasksPage.getPage()+2}, perPage=${tasksPage.getPerPage()}, searchBy=${sortByField.name()}, direct=${isAscending})}">Следующая
                    страница &rarr;</a>
            </p>
            <p>
                Количество записей на страницу:
                <select name="perPage">
                    <option th:selected="${5 == tasksPage.getPerPage()}">5</option>
                    <option th:selected="${10 == tasksPage.getPerPage()}">10</option>
                    <option th:selected="${50 == tasksPage.getPerPage()}">50</option>
                </select>
            </p>
            <br>
            <button>Применить</button>
            <br>
        </form>
        <br>
    </div>

    <HR WIDTH="100%" ALIGN="center" SIZE="1">
    <br>
    <table class="taskTable">
        <thead>
        <th>id</th>
        <th>Дата сдачи</th>
        <th>Студент</th>
        <th>Оценка</th>
        <th>Дата проверки</th>
        <th>Подробнее</th>
        </thead>
        <tr class="request" th:each="record : ${tasksPage.getElements()}">
            <td th:text="${record.getId()}"/>
            <td th:text="${#dates.format(record.getCreatedAt(), 'dd-MM-yyyy')}"/>
            <td th:text="${record.getStudentId()}"/>
            <td th:text="${record.getScore().getScoreValue()}"/>
            <td th:text="${#dates.format(record.getLastActionAt(), 'dd-MM-yyyy')}"/>
            <td>
                <a target="_blank" th:href="@{/teacher/view/{id}(id=${record.getId()})}">Просмотр</a>
            </td>
        </tr>
    </table>

</div>

<div th:unless="${tasksPage.getTotal() > 0}">
    Сданных работ нет
</div>
    <br>
    <a href="/logout">
        <button>Выйти</button>
    </a>
</div>
</body>
</html>
