<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Просмотр выполненного задания</title>
    <link th:href="@{/css/cssStyles.css}" rel="stylesheet">
</head>
<body>
<div class="taskView">
    <h2 th:text="${'Работа студента '+record.getStudentId()+' № ' +record.getId() +' от '+#dates.format(record.getCreatedAt(), 'dd-MM-yyyy')}"></h2>
    <br>
    <div>
        <b>Занятие:</b> <span class="selectedService" th:each="service: ${record.getServices()}"
                              th:text="${service.getTitle()}"/>
    </div>
    <br>
    <div>
        Выполненное задание: <p th:text="${record.getTaskContent()}"/>
    </div>
    <br>
    <div>
        Пояснение студена: <p th:text="${record.getComment()}"/>
    </div>
    <HR WIDTH="100%" ALIGN="center" SIZE="1">
    <br>
    <div>
        <b>Оценка: <span th:text="${record.getScore().getScoreValue()}"/> </b>
    </div>
    <br>
    <div class="actions">
        <div class="score">
            <form method="get" th:action="@{/teacher/view/{id}/setScore(id=${record.getId()})}">
                <select name="score">
                    <option th:each="score: ${scores}"
                            th:disabled="${score.getScoreCode() == record.getScore().getScoreCode()}"
                            th:value="${score.getScoreCode()}" th:text="${score.getScoreValue()}"/>
                </select>
                <button>Выставить</button>
            </form>
        </div>
    </div>
    <br>
    <div class="actionHistory" th:if="${record.getActionHistory() != null}">
        <br>
        <div class="history-record" th:each="history: ${record.getActionHistory()}">
            <br>
            <div class="record-time">
                <span th:text="${#dates.format(history.getTime(), 'dd-MM-yyyy HH:mm:ss')}"/>
            </div>
            <div class="record-type">
                <span th:text="${history.getTypeMessage()}"/>
            </div>
        </div>
    </div>
    <div>
        <a href="/teacher/">
            <button>К списку работ</button>
        </a>
    </div>
</div>
</body>
</html>