<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Выполненные задания</title>
    <link th:href="@{/css/create.css}" rel="stylesheet">
</head>
<body>
<div class="indexView">
    <h2>Выполненные задания</h2>
    <div th:unless="${tasks.size() > 0}">
        Отправленных на проверку заданий нет
    </div>
    <br>
    <div>
        <a href="/client/task/create">
            <button>Перейти к отправке задания на проверку</button>
        </a>
    </div>
    <br>
    <a href="/logout">
        <button>Выйти</button>
    </a>
</div>
<br>
<div class="box" th:if="${tasks.size() > 0}">
    <div class="task" th:each="record : ${tasks}">
        <HR WIDTH="100%" ALIGN="center" SIZE="1">
        <br>
        <div th:text="${'Сданная работа '+record.getId() +' от '+#dates.format(record.getCreatedAt(), 'dd-MM-yyyy')}"></div>
        <br>
        <div>
            <b><span th:text="${record.getScore().getScoreValue()}"/></b>
        </div>
        <a th:href="@{/client/task/view/{id}(id=${record.getId()})}">Просмотр</a>
        <br>
    </div>
</div>

</body>
</html>