<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Просмотр выполненного задания</title>
    <link th:href="@{/css/create.css}" rel="stylesheet">
</head>
<body>
<div class="box">
    <h2>Детальная информация по выполненному заданию</h2>
    <div>
        <b>Занятие:</b> <span class="selectedService" th:each="service: ${record.getServices()}"
                              th:text="${service.getTitle()}"/>
    </div>
    <br>
    <div>
        Содержание: <span class="selectedService" th:each="service: ${record.getServices()}"
                          th:text="${service.getDescription()}"/>
    </div>
    <br>
    <div>
        <h4>Задание:</h4> <span class="selectedService" th:each="service: ${record.getServices()}"
                                th:text="${service.getIssue()}"/>
    </div>
    <br>
    <div class="taskStyle">
        <div>
            Ваш ответ: <p th:text="${record.getTaskContent()}"/>
        </div>
    </div>
    <br>
    <div>
        Пояснение: <p th:text="${record.getComment()}"/>
    </div>
    <br>
    <HR WIDTH="100%" ALIGN="center" SIZE="1">
    <div th:text="${'Идентификационный номер: '+record.getId() +'-'+#dates.format(record.getCreatedAt(), 'dd-MM-yyyy')}">
    </div>
    <br>
    <div>
        <b>Оценка:</b> <span th:text="${record.getScore().getScoreValue()}"/>
    </div>
    <div class="actionHistory" th:if="${record.getActionHistory() != null}">

        <div class="history-record" th:each="history: ${record.getActionHistory()}">
            <br>
            <div class="record-time">
                <span th:text="${#dates.format(history.getTime(), 'dd-MM-yyyy HH:mm:ss')}"/>
            </div>
            <div class="record-type">
                <span th:text="${history.getTypeMessage()}"/>
            </div>
        </div>
    </div>

        <a href="/client/task">
            <button>К списку выполненных заданий</button>
        </a>

</div>
</body>
</html>
