<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Задание не найдено</title>
    <link th:href="@{/css/cssStyles.css}" rel="stylesheet">
</head>
<body>
<h2>Запрашиваемое задание не найдено</h2>
<div>
    <a href="/student/">
        <button>К списку выполненных заданий</button>
    </a>
</div>

</body>
</html>