<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Создание группы</title>
  <link th:href="@{/css/create.css}" rel="stylesheet">
</head>
<body>
<div class = 'box'>
  <form method="post">
    <fieldset>
      <legend>Введите название группы</legend>
    </fieldset>
    <div>
      <label>Заголовок</label>
      <input type = 'text' name = 'title' placeholder = 'Введите название...' required = ''/>
    </div>
    <button>Отправить</button>
  </form>
</div>
</body>
</html>